@font-face {
  font-family: "iconfont"; /* Project id 3856511 */
  src: url('static/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiao:before {
  content: "\e639";
}

.icon-mn_paiming_fill:before {
  content: "\e609";
}

.icon-dingdandingdanmingxishouzhimingxi:before {
  content: "\e78a";
}

.icon-dengji1:before {
  content: "\e69f";
}

.icon-remen:before {
  content: "\e897";
}

.icon-zhuanfa:before {
  content: "\e6e8";
}

.icon-dengji:before {
  content: "\e65a";
}

.icon-shipin:before {
  content: "\e6bb";
}

.icon-area:before {
  content: "\e62b";
}

.icon-gudongxitong:before {
  content: "\e687";
}

.icon-yuangongfenhong:before {
  content: "\e68e";
}

.icon-tuandui:before {
  content: "\e675";
}

.icon-daifukuandingdan:before {
  content: "\e617";
}

.icon-webicon16:before {
  content: "\e67a";
}

.icon-zhifudakuan:before {
  content: "\e64e";
}

.icon-qiandaoicon:before {
  content: "\e651";
}

.icon-bhjcheckinok:before {
  content: "\e607";
}

.icon-yiqiandao:before {
  content: "\e608";
}

.icon-zhuanhuan:before {
  content: "\e64a";
}

.icon-listview:before {
  content: "\e67b";
}

.icon-jia:before {
  content: "\e606";
}

.icon-wode:before {
  content: "\e619";
}

.icon-gouwuche1:before {
  content: "\e605";
}

.icon-31dianpu:before {
  content: "\e604";
}

.icon-kefu:before {
  content: "\e650";
}

.icon-shoucang:before {
  content: "\e603";
}

.icon-31daifahuo:before {
  content: "\e601";
}

.icon-31daishouhuo:before {
  content: "\e602";
}

.icon-daifukuan:before {
  content: "\e624";
}

.icon-a-tuihuanhuotuihuiquxiao:before {
  content: "\e63e";
}

.icon-erweima:before {
  content: "\e600";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-xiaoxi:before {
  content: "\e8bd";
}

.icon-down:before {
  content: "\e69b";
}

.icon-sort-down:before {
  content: "\e843";
}

.icon-sort-up:before {
  content: "\e844";
}

.icon-dingwei:before {
  content: "\ec32";
}

.icon-unorderedlist:before {
  content: "\e7f4";
}

.icon-home:before {
  content: "\e674";
}

.icon-like:before {
  content: "\e631";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-like_fill:before {
  content: "\e707";
}

.icon-star:before {
  content: "\e658";
}

.icon-arrow-right1:before {
  content: "\e665";
}

.icon-arrow-right-filling:before {
  content: "\e688";
}

.icon-store:before {
  content: "\e6cd";
}

.icon-appstore:before {
  content: "\e792";
}

.icon-location:before {
  content: "\e790";
}

.icon-search:before {
  content: "\e699";
}

.icon-arrow-right:before {
  content: "\e614";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-duanxintixing:before {
  content: "\e611";
}

.icon-moban:before {
  content: "\e663";
}

.icon-shangpin:before {
  content: "\e61e";
}

.icon-dianpuzhuangxiu:before {
  content: "\e616";
}

.icon-yansexuanzeqi:before {
  content: "\e67e";
}

.icon-yunyingguanli_qidongyeguanggaoguanli:before {
  content: "\e632";
}

.icon-daohang:before {
  content: "\e77d";
}

