@font-face {
  font-family: 'mkfonticon';
  src:
    url('fonts/mkfonticon.ttf?7f2zlh') format('truetype'),
    url('fonts/mkfonticon.woff?7f2zlh') format('woff'),
    url('fonts/mkfonticon.svg?7f2zlh#mkfonticon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mkicon-"], [class*=" mkicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mkfonticon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkicon-Clipboard-Paste:before {
  content: "\ea0b";
}
.mkicon-error-img:before {
  content: "\ea09";
}
.mkicon-default_avatar:before {
  content: "\ea07";
  color: #8a8a8a;
}
.mkicon-fill:before {
  content: "\e91c";
}
.mkicon-tag-fill-start:before {
  content: "\ea05";
}
.mkicon-tag-line-start:before {
  content: "\ea06";
}
.mkicon-tag-fill-end:before {
  content: "\ea03";
}
.mkicon-tag-line-end:before {
  content: "\ea04";
}
.mkicon-download:before {
  content: "\f0dc";
}
.mkicon-folder-new:before {
  content: "\e9fe";
}
.mkicon-folder-import:before {
  content: "\e9ff";
}
.mkicon-cloud-download:before {
  content: "\ea00";
}
.mkicon-cloud-upload:before {
  content: "\ea01";
}
.mkicon-cloud-new:before {
  content: "\ea02";
}
.mkicon-empty:before {
  content: "\e9e4";
}
.mkicon-theme-light:before {
  content: "\e993";
}
.mkicon-theme-dark:before {
  content: "\e9fd";
}
.mkicon-convert11:before {
  content: "\e9f4";
}
.mkicon-convert1:before {
  content: "\e9f5";
}
.mkicon-livecode:before {
  content: "\e935";
}
.mkicon-rename:before {
  content: "\e92a";
}
.mkicon-block:before {
  content: "\e910";
}
.mkicon-float-right:before {
  content: "\e90a";
}
.mkicon-float-left:before {
  content: "\e928";
}
.mkicon-hr:before {
  content: "\ea68";
}
.mkicon-gitee:before {
  content: "\e927";
}
.mkicon-bilibili:before {
  content: "\e91d";
}
.mkicon-github:before {
  content: "\e91e";
}
.mkicon-code:before {
  content: "\ea81";
}
.mkicon-paragraph:before {
  content: "\ea73";
}
.mkicon-superscript:before {
  content: "\ea69";
}
.mkicon-subscript:before {
  content: "\ea6a";
}
.mkicon-indent-increase:before {
  content: "\ea7b";
}
.mkicon-indent-decrease:before {
  content: "\ea7c";
}
.mkicon-quote:before {
  content: "\e9a6";
}
.mkicon-grab:before {
  content: "\e95d";
}
.mkicon-danger1:before {
  content: "\e9d8";
}
.mkicon-question:before {
  content: "\e9d9";
}
.mkicon-bug:before {
  content: "\e9da";
}
.mkicon-copyright:before {
  content: "\e9db";
}
.mkicon-fork:before {
  content: "\e9d7";
}
.mkicon-star:before {
  content: "\e9d6";
}
.mkicon-arrow-shadow:before {
  content: "\e9d1";
}
.mkicon-datetime:before {
  content: "\e9c9";
}
.mkicon-grids:before {
  content: "\e9ca";
}
.mkicon-form:before {
  content: "\e9c7";
}
.mkicon-switch:before {
  content: "\e9c8";
}
.mkicon-scrollbar:before {
  content: "\e9c6";
}
.mkicon-table:before {
  content: "\e9c5";
}
.mkicon-tabs:before {
  content: "\e9c4";
}
.mkicon-datasource:before {
  content: "\e9c3";
}
.mkicon-input:before {
  content: "\e9c2";
}
.mkicon-convert:before {
  content: "\e9c1";
}
.mkicon-math:before {
  content: "\e9b6";
}
.mkicon-chart:before {
  content: "\e9b8";
}
.mkicon-unordered-list:before {
  content: "\e9ba";
}
.mkicon-ordered-list:before {
  content: "\e9bc";
}
.mkicon-i18n:before {
  content: "\e9b5";
}
.mkicon-button:before {
  content: "\e9b4";
}
.mkicon-component:before {
  content: "\e9b3";
}
.mkicon-hospital:before {
  content: "\e9af";
}
.mkicon-clinic:before {
  content: "\e9b0";
}
.mkicon-doctor:before {
  content: "\e9b1";
}
.mkicon-nurse:before {
  content: "\e9b2";
}
.mkicon-medical-record:before {
  content: "\e9ad";
}
.mkicon-medical-record1:before {
  content: "\e9ae";
}
.mkicon-add-folder:before {
  content: "\e9ab";
}
.mkicon-add-file:before {
  content: "\e9ac";
}
.mkicon-arrow-keys:before {
  content: "\e9aa";
}
.mkicon-radio:before {
  content: "\e92c";
}
.mkicon-radio-checked:before {
  content: "\e996";
}
.mkicon-checkbox:before {
  content: "\e9a4";
}
.mkicon-checkbox-checked:before {
  content: "\e9a5";
}
.mkicon-import-book:before {
  content: "\e9a3";
}
.mkicon-user-agreement:before {
  content: "\e93e";
}
.mkicon-privacy-policy:before {
  content: "\e93f";
}
.mkicon-license:before {
  content: "\e940";
}
.mkicon-vip-list:before {
  content: "\e93d";
}
.mkicon-activities:before {
  content: "\e93a";
}
.mkicon-seo:before {
  content: "\e93b";
}
.mkicon-param:before {
  content: "\e93c";
}
.mkicon-tcloud:before {
  content: "\e936";
}
.mkicon-third-part:before {
  content: "\e937";
}
.mkicon-wpay:before {
  content: "\e934";
  color: #09bb07;
}
.mkicon-server-data:before {
  content: "\e932";
}
.mkicon-duration:before {
  content: "\e933";
}
.mkicon-pay:before {
  content: "\e930";
}
.mkicon-alipay:before {
  content: "\e931";
}
.mkicon-email:before {
  content: "\e92f";
}
.mkicon-qq:before {
  content: "\e92e";
}
.mkicon-darwin:before {
  content: "\e92d";
}
.mkicon-oschina:before {
  content: "\e941";
  color: #3dab53;
}
.mkicon-wechat:before {
  content: "\e942";
  color: #46af35;
}
.mkicon-android:before {
  content: "\e943";
  color: #159f69;
}
.mkicon-linux:before {
  content: "\e926";
}
.mkicon-debian:before {
  content: "\e944";
  color: #d4237a;
}
.mkicon-redhat:before {
  content: "\e945";
}
.mkicon-darwin1 .path1:before {
  content: "\e946";
  color: rgb(197, 197, 209);
}
.mkicon-darwin1 .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.mkicon-darwin1 .path3:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.mkicon-darwin1 .path4:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(234, 234, 239);
}
.mkicon-darwin1 .path5:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(213, 213, 226);
}
.mkicon-darwin1 .path6:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(208, 208, 221);
}
.mkicon-darwin1 .path7:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.mkicon-darwin1 .path8:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(197, 197, 209);
}
.mkicon-darwin1 .path9:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(38, 38, 40);
}
.mkicon-darwin1 .path10:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(70, 70, 73);
}
.mkicon-darwin1 .path11:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(125, 125, 137);
}
.mkicon-iphone:before {
  content: "\e97b";
}
.mkicon-win32:before {
  content: "\e988";
  color: #00adef;
}
.mkicon-vip2 .path1:before {
  content: "\e989";
  color: rgb(255, 228, 179);
}
.mkicon-vip2 .path2:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(239, 167, 22);
}
.mkicon-vip2 .path3:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(239, 167, 22);
}
.mkicon-vipuser:before {
  content: "\e98e";
}
.mkicon-vip:before {
  content: "\e990";
}
.mkicon-index:before {
  content: "\e991";
}
.mkicon-app-setting:before {
  content: "\e992";
}
.mkicon-template:before {
  content: "\e994";
}
.mkicon-release:before {
  content: "\e995";
}
.mkicon-upload:before {
  content: "\e997";
}
.mkicon-client:before {
  content: "\e998";
}
.mkicon-page:before {
  content: "\e999";
}
.mkicon-mall:before {
  content: "\e99a";
}
.mkicon-coupon:before {
  content: "\e99b";
}
.mkicon-level:before {
  content: "\e99c";
}
.mkicon-vip-card:before {
  content: "\e99d";
}
.mkicon-shop:before {
  content: "\e99e";
}
.mkicon-users:before {
  content: "\e99f";
}
.mkicon-order:before {
  content: "\e9a0";
}
.mkicon-page-finder:before {
  content: "\e929";
}
.mkicon-stats:before {
  content: "\e9a1";
}
.mkicon-app:before {
  content: "\e9a2";
}
.mkicon-async:before {
  content: "\e925";
}
.mkicon-image-viewer:before {
  content: "\e924";
}
.mkicon-compress:before {
  content: "\e923";
}
.mkicon-video:before {
  content: "\e922";
}
.mkicon-drag-bar:before {
  content: "\e920";
}
.mkicon-theme:before {
  content: "\e921";
}
.mkicon-list-checkbox:before {
  content: "\e91f";
}
.mkicon-color-platte:before {
  content: "\e951";
}
.mkicon-image:before {
  content: "\e913";
}
.mkicon-vue:before {
  content: "\e914";
  color: #41b783;
}
.mkicon-layer:before {
  content: "\e915";
}
.mkicon-tip:before {
  content: "\e916";
}
.mkicon-card-check:before {
  content: "\e917";
}
.mkicon-scroll:before {
  content: "\e918";
}
.mkicon-box:before {
  content: "\e919";
}
.mkicon-finder:before {
  content: "\e91a";
}
.mkicon-drag-sort:before {
  content: "\e91b";
}
.mkicon-fonticon:before {
  content: "\e952";
}
.mkicon-check:before {
  content: "\e953";
}
.mkicon-upload-image:before {
  content: "\e912";
}
.mkicon-images:before {
  content: "\e911";
}
.mkicon-editor:before {
  content: "\e90f";
}
.mkicon-bookmark-star:before {
  content: "\e904";
}
.mkicon-uniE90D:before {
  content: "\e90e";
}
.mkicon-success:before {
  content: "\e90b";
}
.mkicon-book-add:before {
  content: "\e908";
}
.mkicon-doc:before {
  content: "\e905";
}
.mkicon-docs:before {
  content: "\e906";
}
.mkicon-export-doc:before {
  content: "\e907";
}
.mkicon-pdf:before {
  content: "\e903";
  color: #c1272d;
}
.mkicon-dot:before {
  content: "\e902";
}
.mkicon-tag:before {
  content: "\e901";
}
.mkicon-doc-add:before {
  content: "\e900";
}
.mkicon-books:before {
  content: "\e954";
}
.mkicon-export-website:before {
  content: "\e956";
}
.mkicon-more:before {
  content: "\e957";
}
.mkicon-tree-view:before {
  content: "\e958";
}
.mkicon-list-view:before {
  content: "\e9bb";
}
.mkicon-rmb:before {
  content: "\e959";
}
.mkicon-logo:before {
  content: "\e95a";
}
.mkicon-login:before {
  content: "\e95b";
}
.mkicon-forbidden:before {
  content: "\e95c";
}
.mkicon-share:before {
  content: "\e95e";
}
.mkicon-pagewidth:before {
  content: "\e95f";
}
.mkicon-edit:before {
  content: "\e960";
}
.mkicon-user:before {
  content: "\f018";
}
.mkicon-key:before {
  content: "\f049";
}
.mkicon-unbind:before {
  content: "\e961";
}
.mkicon-setting:before {
  content: "\eb51";
}
.mkicon-notify:before {
  content: "\f0de";
}
.mkicon-email1:before {
  content: "\f03c";
}
.mkicon-camera:before {
  content: "\f056";
}
.mkicon-delete:before {
  content: "\ea82";
}
.mkicon-whole-word:before {
  content: "\eb7e";
}
.mkicon-keyboard:before {
  content: "\f00d";
}
.mkicon-folder:before {
  content: "\e974";
}
.mkicon-cloud:before {
  content: "\e975";
}
.mkicon-outline:before {
  content: "\e976";
}
.mkicon-wechat1:before {
  content: "\e977";
  color: #7bb32e;
}
.mkicon-open:before {
  content: "\e962";
}
.mkicon-publish:before {
  content: "\e963";
}
.mkicon-register:before {
  content: "\e964";
}
.mkicon-import:before {
  content: "\e965";
}
.mkicon-export:before {
  content: "\e966";
}
.mkicon-local:before {
  content: "\e967";
}
.mkicon-code1:before {
  content: "\e968";
}
.mkicon-corner-checked:before {
  content: "\e969";
}
.mkicon-regex:before {
  content: "\e96a";
}
.mkicon-ignore-case:before {
  content: "\e96b";
}
.mkicon-prev:before {
  content: "\e96c";
}
.mkicon-next:before {
  content: "\e96d";
}
.mkicon-next-down:before {
  content: "\e97a";
}
.mkicon-prev-up:before {
  content: "\e98f";
}
.mkicon-whitespace:before {
  content: "\ea74";
}
.mkicon-error:before {
  content: "\e96e";
}
.mkicon-danger:before {
  content: "\e9d5";
}
.mkicon-warning:before {
  content: "\e96f";
}
.mkicon-time:before {
  content: "\e97c";
}
.mkicon-edit-book:before {
  content: "\e97d";
}
.mkicon-anthology:before {
  content: "\e97e";
}
.mkicon-update-time:before {
  content: "\e97f";
}
.mkicon-down:before {
  content: "\e980";
}
.mkicon-arrow-right:before {
  content: "\e981";
}
.mkicon-sideview:before {
  content: "\e982";
}
.mkicon-view:before {
  content: "\e983";
}
.mkicon-view-off:before {
  content: "\ea08";
}
.mkicon-refresh:before {
  content: "\e984";
}
.mkicon-focus:before {
  content: "\e985";
}
.mkicon-sync:before {
  content: "\e986";
}
.mkicon-close:before {
  content: "\e987";
}
.mkicon-add:before {
  content: "\e970";
}
.mkicon-search:before {
  content: "\e971";
}
.mkicon-unmaximize:before {
  content: "\e972";
}
.mkicon-minimize:before {
  content: "\e973";
}
.mkicon-maximize:before {
  content: "\e978";
}
.mkicon-win-close:before {
  content: "\e979";
}
.mkicon-discard-change:before {
  content: "\e98c";
}
.mkicon-loading1:before {
  content: "\e98d";
}
.mkicon-export-book:before {
  content: "\e9a7";
}
.mkicon-git:before {
  content: "\e9a8";
}
.mkicon-no_fullScreen:before {
  content: "\e9cb";
}
.mkicon-fullScreen:before {
  content: "\e9a9";
}
.mkicon-back:before {
  content: "\e9cc";
}
.mkicon-enlarge:before {
  content: "\e9cd";
}
.mkicon-shrink:before {
  content: "\e9ce";
}
.mkicon-commonbg:before {
  content: "\e9cf";
}
.mkicon-write:before {
  content: "\e9d0";
}
.mkicon-rich:before {
  content: "\e909";
  color: #42a5f5;
}
.mkicon-html:before {
  content: "\e9d2";
  color: #42a5f5;
}
.mkicon-md:before {
  content: "\e9d3";
  color: #f78a09;
}
.mkicon-center:before {
  content: "\e9d4";
}
.mkicon-restore:before {
  content: "\e9dc";
}
.mkicon-one-to-one:before {
  content: "\e9dd";
}
.mkicon-rotate-reverce:before {
  content: "\e9de";
}
.mkicon-rotate:before {
  content: "\e9df";
}
.mkicon-folder-open:before {
  content: "\e9e0";
}
.mkicon-folder-close:before {
  content: "\e9e1";
}
.mkicon-corner-check:before {
  content: "\e9e2";
}
.mkicon-load-error:before {
  content: "\e9e3";
}
.mkicon-loading:before {
  content: "\e9e5";
}
.mkicon-vertical-middle:before {
  content: "\e9e6";
}
.mkicon-vertical-bottom:before {
  content: "\e9e7";
}
.mkicon-vertical-top:before {
  content: "\e9e8";
}
.mkicon-cell-border:before {
  content: "\e9e9";
}
.mkicon-edit-del:before {
  content: "\e9ea";
}
.mkicon-merge-cell:before {
  content: "\e9eb";
}
.mkicon-split-cell:before {
  content: "\e9ec";
}
.mkicon-delete-row:before {
  content: "\e9ed";
}
.mkicon-delete-column:before {
  content: "\e9ee";
}
.mkicon-heading-1:before {
  content: "\e9ef";
}
.mkicon-heading-2:before {
  content: "\e9f0";
}
.mkicon-heading-3:before {
  content: "\e9f1";
}
.mkicon-heading-4:before {
  content: "\e9f2";
}
.mkicon-heading-5:before {
  content: "\e9f3";
}
.mkicon-text-field:before {
  content: "\e9b7";
}
.mkicon-font-size:before {
  content: "\ea61";
}
.mkicon-color:before {
  content: "\e938";
}
.mkicon-italic:before {
  content: "\ea64";
}
.mkicon-undo:before {
  content: "\e9bf";
}
.mkicon-redo:before {
  content: "\e9c0";
}
.mkicon-bold:before {
  content: "\ea62";
}
.mkicon-underline:before {
  content: "\ea66";
}
.mkicon-strike:before {
  content: "\ea65";
}
.mkicon-math1:before {
  content: "\e9f6";
}
.mkicon-anchor:before {
  content: "\e9f7";
}
.mkicon-save:before {
  content: "\e9f8";
}
.mkicon-link:before {
  content: "\e90c";
}
.mkicon-open-link:before {
  content: "\ea0d";
}
.mkicon-unlink:before {
  content: "\e92b";
}
.mkicon-paste:before {
  content: "\ea0a";
}
.mkicon-copy:before {
  content: "\e955";
}
.mkicon-cut:before {
  content: "\ea0c";
}
.mkicon-ordered_list:before {
  content: "\e9f9";
}
.mkicon-bullet_list:before {
  content: "\e9fa";
}
.mkicon-checklist:before {
  content: "\e9fb";
}
.mkicon-mark:before {
  content: "\e939";
}
.mkicon-webpage:before {
  content: "\e9fc";
}
.mkicon-align-left:before {
  content: "\e9bd";
}
.mkicon-align-right:before {
  content: "\e9be";
}
.mkicon-align-justify:before {
  content: "\ea7a";
}
.mkicon-align-center:before {
  content: "\e9b9";
}
