<IfModule mod_rewrite.c>
  RewriteEngine On
  
  RewriteBase /app/base/admin/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /app/base/admin/index.html [L]
</IfModule>